extends base.pug 

block scripts 
    script(src="/static/index.js")

block style 
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
        h1 About Project
        div.container1 
            p Hello Guys!! I have made this Karate Academy website by using PUG, CSS, JS, NodeJs, ExpressJs, MongoDb. In this website I have created Contact section where you can add your details, which will be stored in database. 