doctype html 
html
  head
    title Karate Academy
    block scripts
    block style
      
  body
    nav#navbar 
        ul 
          div#logo 
            img(src="../static/logo2.png")
          li #[a(href= "/") Home]
          
          //- li #[a(href= "/") Services]
          //- li #[a(href= "/") Class Info]
          li #[a(href= "/contact") Contact]
          li #[a(href= "/about") About]
    block content
    footer#footer 
        | Copyright @ 2022 KarateAcademy | All rights reserved.
    